:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: black;
  /* --color-secondary: #19376d; */
  /* --color-dark: #0b2447;
  --color-bg: #04152d; */
  --color-dark: rgb(101, 25, 76);
  --color-bg: rgb(120, 10, 100);

  /* Fonts */
  --font-roboto: "Roboto";
}
